.vscode
.idea
.DS_Store
.env.dev
.env.prod
.env.local
python-backend.code-workspace
backend/scripts/tests3.py
copy_records.py
.env
*.pyc
driver_db/scripts/copy_records_from_dev.sh
backend/scripts/copy_records_from_dev.sh
