
#AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""

# NGROK
NGROK_API_KEY=""

#Auth0
AUTH0_URL=
AUTH0_DOMAIN=
AUTH0_MGMT_API_CLIENT_ID=
AUTH0_MGMT_API_CLIENT_SECRET=
AUTH0_MGMT_API_AUDIENCE=


#POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

OPENAI_API_KEY=


MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=
